@font-face {
  font-family: Minecraft-ru;
  src: url(./Minecraft-ru.ttf);
}

.page {
  font-family: Minecraft-ru,sans-serif;
  max-width: 100%;
  max-height: 100vh;
  background-color: antiquewhite;
}

.header {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;}

.main {
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  width: 100%;
}

.case {
  margin: 0 auto;
  width: 100%;
}

.case p {
  font-size: 14px;
  margin: .1em
}

.case pre {
  margin: 0;
}

.case-1__code {
  max-height: 250px;
  height: 100%;
  overflow: auto;
  max-width: 400px;
}

.case-2 {
  margin-left: 1em;
}

.case-2__input {
  max-width: 320px;
  width: 100%;
}