.MinecraftWebInventory{
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 4px;
  cursor: pointer;
}

.MinecraftWebInventory li {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #8B8B8B;
  background-size: 32px;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
}

.MinecraftWebInventory li img {
  max-width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.MinecraftWebInventory li span {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.MinecraftWebInventory__tooltip {
  max-width: 200px;
  width: 100%;
  visibility: hidden;
  height: 100px;
  position: absolute;
  z-index: 3;
  left: 130px;
  background-color: #100010;
  background-color: rgba(16,0,16,0.94);
  color: #FFF;
  padding: 0.375em;
  font-family: Minecraft-ru,sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  white-space: nowrap;
  line-height: 1em;
  text-shadow: 0.125em 0.125em 0 #3F3F3F;
  margin: 0.125em 0.25em;
  pointer-events: none;
  z-index: 9999;
}

.MinecraftWebInventory__tooltip::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.125em solid #100010;
  border-style: none solid;
  border-color: rgba(16,0,16,0.94);}

.MinecraftWebInventory__tooltip::after {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2D0A63;
  border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
  border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;

}