/*
Minecraft Wiki style
*/

@font-face {
  font-family: Minecraft-ru;
  src: url(./Minecraft-ru.ttf);
}

.MinecraftWebInventory{
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  column-gap: 4px;
  cursor: pointer;
  max-width: fit-content;
}

.MinecraftWebInventory li {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #8B8B8B;
  background-size: 32px;
  border: 2px solid;
  border-color: #373737 #FFF #FFF #373737;
  font-family: Minecraft-ru,sans-serif;
}

.MinecraftWebInventory li img {
  max-width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0;
}

.MinecraftWebInventory li span {
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.MinecraftWebInventory__glow {
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 99;
  mask-size: contain;
  mix-blend-mode: color-dodge;
  -webkit-mask-size: contain;
  background-image: url('./glow.webp');
} 

.MinecraftWebInventory__tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 3;
  left: 130px;
  background-color: #100010;
  background-color: rgba(16,0,16,0.94);
  color: #FFF;
  padding: 0.375em;
  font-family: Minecraft-ru,sans-serif;
  font-size: 16px;
  word-spacing: 4px;
  line-height: 1em;
  text-shadow: 0.125em 0.125em 0 #3F3F3F;
  margin: 0.125em 0.25em;
  pointer-events: none;
  z-index: 9999;
  white-space: pre;
}

.MinecraftWebInventory__tooltip::before {
  content: "";
  position: absolute;
  top: 0.125em;
  right: -0.125em;
  bottom: 0.125em;
  left: -0.125em;
  border: 0.125em solid #100010;
  border-style: none solid;
  border-color: rgba(16,0,16,0.94);
}

.MinecraftWebInventory__tooltip::after {
  content: "";
  position: absolute;
  top: 0.125em;
  right: 0;
  bottom: 0.125em;
  left: 0;
  border: 0.125em solid #2D0A63;
  border-image: -webkit-linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;
  border-image: linear-gradient(rgba(80,0,255,0.31),rgba(40,0,127,0.31)) 1;

}

.MinecraftWebInventory__tooltipContent {
  margin: 3px 0;
}

.MinecraftWebInventory__tooltipContent_shift {
  margin: 3px 0;
  white-space: pre;
  display: none;
}

.MinecraftWebInventory__tooltipContent_reverse-shift {
  margin: 3px 0;
  white-space: pre;
  display: block;
}

.tooltip_color_0 {color: #000000;}
.tooltip_color_1 {color: #0000AA;}
.tooltip_color_2 {color: #00AA00;}
.tooltip_color_3 {color: #00AAAA;}
.tooltip_color_4 {color: #AA0000;}
.tooltip_color_5 {color: #AA00AA;}
.tooltip_color_6 {color: #FFAA00;}
.tooltip_color_7 {color: #AAAAAA;}
.tooltip_color_8 {color: #555555;}
.tooltip_color_9 {color: #5555FF;}
.tooltip_color_a {color: #55FF55;}
.tooltip_color_b {color: #55FFFF;}
.tooltip_color_c {color: #FF5555;}
.tooltip_color_d {color: #FF55FF;}
.tooltip_color_e {color: #FFFF55;}
.tooltip_color_f {color: #FFFFFF;}